.card-title {
    font-size: 50pt ;
    margin-top: 20px;
    color: #47bc3a;
    text-shadow: rgb(3, 121, 52) 2px 1px 4px;
}
.container-fluid{
    justify-content: center;
    display: flex;
    margin: auto;
   
}

.social{
   margin-left: 39%;
}
i{
    margin-left: 20px;
    color: #47bc3a;
    
}

.card{
    border: 3px solid rgb(6, 184, 6);
    border-radius: 30px;
    box-shadow: 1px 1px 1px 1px;
}
.card-title, p{
    text-align: center;
    font-weight: bold;
}

.btn{
    display: flex;
    justify-content: center;
    height: 50px;
    width: 50%;
    background-color: green;
    margin: 10px 60px;
    color: white;
    font-weight: bold;
    border: 0;
    border-radius: 10px;
}

.btn:hover{
    background-color: #47bc3a;
    transition: 0.7s;
    color: white;
    font-weight: bold;
    box-shadow: 2px 1px 2px 0px;;
}

[type=text], [type=password] {
    height: 50px;
    border-radius: 15px;
    border: 2px solid rgb(5, 133, 22);
    width: 85%;
    display: flex;
    margin: auto;
    margin-top: 10px;
}
:placeholder-shown{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
}
